<h2>{{currentMovie.title}}</h2>
<p>Release year: {{currentMovie.releaseYear}}</p>

<p>Description: {{currentMovie.description}}</p>

<h4>Realisateur</h4>
<p>
  {{currentMovie.realisator ? (currentMovie.realisator.firstName + ' ' + currentMovie.realisator.lastName) : 'Unknown'}}
</p>

<h4>Scénariste</h4>

<p>
  {{currentMovie.scenarist ? (currentMovie.scenarist.firstName + ' ' + currentMovie.scenarist.lastName) : 'Unknown'}}
</p>

<h4>Acteurs</h4>
<nb-list *ngFor="let actor of currentMovie.actors">
  <nb-list-item>{{actor.firstName}} {{actor.lastName}}, playing: ' {{actor.role}}'</nb-list-item>
</nb-list>