
<nb-card>
  
  <nb-card-header>  
    <h2>Ajouter un film</h2>&nbsp;
    <button nbButton status="warning" size="small" outline (click)="open()">Ajouter une personne</button>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="fg" (ngSubmit)=submitForm()>
      
            <div class="form-group row"><label>Titre :</label><input nbInput formControlName="title" type="text"> </div>
            <div class="form-group row"><label>Description :</label><input nbInput formControlName="description" type="text"> </div>
            <div class="form-group row"><label>Année de sortie :</label><input nbInput formControlName="releaseYear" type="number"> </div>
            <div class="form-group row"><label>Scénariste :</label>
              <nb-select formControlName="scenarist" placeholder="Sélectionnez un scénariste">
                <nb-option *ngFor="let person of listPerson" value="{{person.id}}">{{person.firstName}} {{person.lastName}}
                </nb-option>
              </nb-select>
            </div>
            <div class="form-group row"><label>Réalisateur :</label>
              <nb-select formControlName="realisator" placeholder="Sélectionnez un réalisateur">
                <nb-option *ngFor="let person of listPerson" value="{{person.id}}">{{person.firstName}} {{person.lastName}}
                </nb-option>
              </nb-select>
            </div>


          <button nbButton type="button" (click)="addRole()" nbButton size="tiny">Ajouter un rôle</button>
          <nb-list *ngIf="getRoles().controls" formArrayName="actors">
            <nb-list-item *ngFor="let c of getRoles().controls; let i = index">
              <div [formGroupName]="i">
                Acteur {{i+1}} &nbsp;<input [status]="c.touched ? 'success' : 'warning'" nbInput type="text"
                  formControlName="role">
    
                &nbsp;
    
                <nb-select formControlName="personId" placeholder="Sélectionnez un acteur">
                  <nb-option *ngFor="let person of listPerson" value="{{person.id}}">{{person.firstName}}
                    {{person.lastName}}</nb-option>
                </nb-select>
    
                &nbsp;
    
                <button nbButton status="danger" (click)="removeRole(i)">X</button>
              </div>
            </nb-list-item>
          </nb-list>

          <button nbButton status="success" type="submit">Valider</button>

    </form>
    
  </nb-card-body>
</nb-card>

 
