
<h2 *ngIf="sessionStorageObject.token == ''">Vous êtes déjà connecté</h2>

<h2 *ngIf="sessionStorageObject.token != ''">Login</h2>
<form [formGroup]="fg"  (ngSubmit)="login()">
  <p>
    <label>email : </label>
    <input nbInput formControlName="email" />
  </p>
  <p>
    <label>password : </label>
    <input nbInput formControlName="password" />
  </p>
  
  <button nbButton status="success" type="submit">Valider</button>
  
</form>

<!-- <p *ngIf='sessionStorageObject != null'>
  
  id : {{sessionStorageObject.id}}
  <br>
  Prénom : {{sessionStorageObject.firstName}}
  <br>
  Token : {{sessionStorageObject.token}}
</p> -->
  